- name: CI-Job
  hosts: local
  gather_facts: false
  #become: true

  tasks:
  - name: test
    shell: |
      cd ~
      whoami
      aws configure list
      pwd
      ls -lart
     #ls /*.html
    register: shell_result
  - debug:
      var: shell_result.stdout_lines
  #- name: lint application
  #  shell: 
  #    cmd: tidy -q -e *.html
      #chdir: ~/environment/udacity-capstone-project/
  - name: authenticate to ECR
    #command: aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 731758322990.dkr.ecr.eu-central-1.amazonaws.com
    command: docker login 731758322990.dkr.ecr.eu-central-1.amazonaws.com
  - name: create docker image
    command: docker build -t udacity-capstone-project:latest .
  - name: tag docker image
    command: docker tag udacity-capstone-project:latest 731758322990.dkr.ecr.eu-central-1.amazonaws.com/udacity-capstone-project:latest
  - name: push image to Amazon ECR
    command: docker push 731758322990.dkr.ecr.eu-central-1.amazonaws.com/udacity-capstone-project:latest
  - name: remove docker image
    command: docker rmi udacity-capstone-project:latest 731758322990.dkr.ecr.eu-central-1.amazonaws.com/udacity-capstone-project:latest
    ignore_errors: yes
