apiVersion: v1
kind: Service
metadata:
  name: udacity-service
  labels:
    app: udacity-capstone-project
spec:
  type: LoadBalancer
  selector:
    app: udacity-capstone-project
  ports:
    - nodePort: 31479
      port: 80
      targetPort: 80